---
// 引入汉堡菜单
import Hamburger from './Hamburger.astro';
// 引入导航组件
import Navigation from './Navigation.astro';
// 引入icon
import ThemeIcon from './ThemeIcon.astro';
---
<!-- 头部组件 -->
<header>
 <nav>
   <Hamburger />
   <ThemeIcon />
   <Navigation />
 </nav>
</header>