---
// 将platform和username作为参数传递给props接收
const { platform, username } = Astro.props;
---
<!-- 社交媒体组件 -->
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>